<!DOCTYPE html>
<html>
    <Head>
        <meta charset="UTF-8">
        <title>MercadoLiebre</title>    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">


    </Head>
    
    <body>

        <header class="main-header">
            <div class="main-topbar">  
                <div class="logo">
                    <a href="/">
                        <img  src="static/images/logo-mercado-liebre.svg"  alt="Logo MercadoLiebre">
                    </a>
                </div>
                                   
                        
                <div class="search-bar">
                    <input type="text" placeholder="Buscar productos, marcas">
                    <i class="fas fa-search"></i>  
                </div>
            
                <P class="compratarjeta"><i class="fas fa-hand-holding-usd"></i>Compra en cuotas y sin tarjeta de credido</P>
                
            </div>


            <nav class="main-navbar">
                <ul class="menu1">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                

                <ul class="menu2">
                    <li><a href="/register">Crea tu cuenta</a><i class="far fa-id-card"></i></li>
                    <li><a href="/login">Ingresa</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis Compras</a><i class="fas fa-shopping-bag"></i></li>
                    
                </ul>
            </nav>
            <div class="burger-menu">
                <i class="fa fa-bars burger"></i>
            </div>
        </header>

        <section>
            <img src="static/images/img-home-banner.jpg" width=100% alt="Banner home">
        </section>

        <main>
            <section>          
                <h2>Basado en su ultima visita</h2>
                <div class="listaproducto">
                    <article>
                        <img src="static/images/img-cafetera-moulinex.jpg" width=100% alt="Cafetera">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                        
                    </article>

                    <article>
                        <img src="static/images/img-macbook-pro-2019.jpg" width=100% alt="McBook">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class="descripcion">McBook Pro 2019</h4>
                        </div>
                    </article>

                    <article>
                        <img src="static/images/img-samsung-galaxy-s10.jpg" width=100% alt="Samsung Galaxy S10">
                        <div class ="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
                       </div>
                    </article>

                    <article>
                        <img src="static/images/img-tv-samsung-smart.jpg " width=100% alt="Smart Tv" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            <h4 class="descripcion">SmarTV Samsug 43"</h4>
                        </div>


                    </article>
                </div>
                

            </section>

            <section>          
                <h2>Ofertas</h2>
                <div class="listaproducto">
                    <article>
                        <img src="static/images/img-cafetera-moulinex.jpg" width=100% alt="Cafetera">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$6.770</p>
                            <p class="descuento">40% OFF</p>
                            <h4 class="descripcion">Cafetera Moulinex</h4>
                        </div>
                    </article>

                    <article>
                        <img src="static/images/img-macbook-pro-2019.jpg" width=100% alt="McBook">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$230.000</p>
                            <p class="descuento">20% OFF</p>
                            <h4 class="descripcion">McBook Pro 2019</h4>
                        </div>
                    </article>

                    <article>
                        <img src="static/images/img-samsung-galaxy-s10.jpg" width=100% alt="Samsung Galaxy S10">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$70.500</p>
                            <p class="descuento">10% OFF</p>
                            <h4 class="descripcion">Samsung Galaxy S10</h4>
    
                        </div>
                    </article>

                    <article>
                        <img src="static/images/img-tv-samsung-smart.jpg " width=100% alt="Smart Tv" class="product_img">
                        <div class="articulos">
                            <i class="fas fa-truck"></i>
                            <p class="precio">$23.200</p>
                            <p class="descuento">5% OFF</p>
                            <h4 class="descripcion">SmarTV Samsug 43"</h4>
                        </div>
                    </article>

                </div>

            </section>

        </main>



        <footer>
            <section>
                <div>
                    <div>
                        <i class="fa-solid fa-credit-card pie" style="color: #1259c3;"></i>
                    </div>                   
                    <h3>Paga con tarjeta de credito o en efectivo</h3>
                    <p class="cuerpoTexto">Con Mercado Liebre Cash, tenes cuotas sin interes con tarjeta o efectivo en puntos de pago. Y siempre es seguro! </p>
                </div>
    
                <div>
                    <div>
                        <i class="fa-solid fa-gift" style="color: #1259c3;"></i>
                    </div>
                    <h3>Envio gratis desde $2.500</h3>
                    <p class="cuerpoTexto">Solo por estar registrad@ en Mercado Liebre tener envios gratis en miles de productos. Es un beneficio de Mercado Puntos</p>
                </div>
    
                <div>
                    <div>
                        <i class="fa-solid fa-user-shield" style="color: #1259c3;"></i>
                    </div>
                    <h3>Seguridad de Principio a Fin</h3>
                    <p class="cuerpoTexto">No te gusta? Devolvelo! En Mercado Liebre no hay nada que no puedas hacer, porque estas siempre protegid@ </p>
                </div>  
            </section>

            <div class="copyright">
                <p>Copyright C 1999-2020 MercadoLiebre S.R.L.</p>

            </div>

        </footer>
    
    </body>
    
</html>



